<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="content-type"
            content="text/html; charset=UTF-8">
        <title><%=title %></title>
        <link type="text/css" href="./style.css" rel="stylesheet">
    </head>

    <body>
            <head>
                <h1><%=title %></h1>
            </head>
            <div role="main">
                 <p><%=content %></p>
                 <form method="post" action=/other>
                     <p>
                        <input type="text" name="msg">
                        <input type="submit" name="Click">
                     </p>
                 </form>
            </div>
    </body>
</html>